//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 22 16:43:19 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Q_output<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "Q_output<1>" LOCATE = SITE "D11" LEVEL 1;
COMP "Q_output<2>" LOCATE = SITE "B11" LEVEL 1;
COMP "Q_output<3>" LOCATE = SITE "A12" LEVEL 1;
COMP "N_count<0>" LOCATE = SITE "J11" LEVEL 1;
COMP "N_count<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "N_count<2>" LOCATE = SITE "H16" LEVEL 1;
COMP "N_count<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "reset" LOCATE = SITE "C13" LEVEL 1;
COMP "downUp" LOCATE = SITE "C12" LEVEL 1;
COMP "CLK" LOCATE = SITE "A10" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

