# PlanAhead Generated physical constraints 

NET "dinputs[0]" LOC = J11;
NET "dinputs[1]" LOC = J12;
NET "dinputs[2]" LOC = H16;
NET "dinputs[3]" LOC = H13;
NET "dinputs[4]" LOC = G12;
NET "dinputs[5]" LOC = E14;
NET "dinputs[6]" LOC = D16;
NET "dinputs[7]" LOC = B16;
NET "qoutputs[0]" LOC = C11;
NET "qoutputs[1]" LOC = D11;
NET "qoutputs[2]" LOC = B11;
NET "qoutputs[3]" LOC = A12;
NET "qoutputs[4]" LOC = A13;
NET "qoutputs[5]" LOC = B13;
NET "qoutputs[6]" LOC = A14;
NET "qoutputs[7]" LOC = B14;
NET "shiftin" LOC = C13;
NET "loadshift" LOC = C10;
